In [0]:
import pandas as pd
from google.colab import drive

In [2]:
!pip install uszipcode

Collecting uszipcode
  Downloading https://files.pythonhosted.org/packages/bc/94/1b908c6fe2008f0e913b0b2d97951aa76e00ec1044883c012afb2e477b4a/uszipcode-0.2.4-py2.py3-none-any.whl (378kB)
     |████████████████████████████████| 378kB 9.6MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from uszipcode) (2.21.0)
Collecting pathlib-mate
  Downloading https://files.pythonhosted.org/packages/ff/f2/a1e6044fe90784e7bbc05286f2e8616aa2ff167f7275f5a6f2df479092c0/pathlib_mate-0.0.15-py2.py3-none-any.whl (195kB)
     |████████████████████████████████| 204kB 44.5MB/s
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.3.11)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from uszipcode) (19.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (1.24.3)
Collecting autopep8
  Downloading https://files.pythonhosted.org/packages/45/f3/24b437da561b6af4840c871fbbda32889ca304fc1f7b6cc3ada8b09f394a/autopep8-1.4.4.tar.gz (114kB)
     |████████████████████████████████| 122kB 42.0MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.12.0)
Collecting pycodestyle>=2.4.0
  Downloading https://files.pythonhosted.org/packages/0e/0c/04a353e104d2f324f8ee5f4b32012618c1c86dd79e52a433b64fceed511b/pycodestyle-2.5.0-py2.py3-none-any.whl (51kB)
     |████████████████████████████████| 51kB 5.9MB/s
Building wheels for collected packages: autopep8
  Building wheel for autopep8 (setup.py) ... done
  Created wheel for autopep8: filename=autopep8-1.4.4-py2.py3-none-any.whl size=42631 sha256=7674ef3ac29c9f8b1fe27bc01853f207db715a4461a1b6091b5058b272300808
  Stored in directory: /root/.cache/pip/wheels/7e/f5/4b/c19e6276126325eb8071b273347c05a830c37a82b9b3b81510
Successfully built autopep8
Installing collected packages: pycodestyle, autopep8, pathlib-mate, uszipcode
Successfully installed autopep8-1.4.4 pathlib-mate-0.0.15 pycodestyle-2.5.0 uszipcode-0.2.4

In [3]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

Start downloading data for simple zipcode database, total size 9MB ...
  1 MB finished ...
  2 MB finished ...
  3 MB finished ...
  4 MB finished ...
  5 MB finished ...
  6 MB finished ...
  7 MB finished ...
  8 MB finished ...
  9 MB finished ...
  10 MB finished ...
  Complete!

In [4]:
park_df = pd.read_csv('https://data.cityofnewyork.us/resource/99ii-hwh9.csv')
# park_df.head(5)
# park_df.dtypes
# park_df.index

# Changing the format of the data in the table for easier extraction
i = 0
for zipcode in park_df['the_geom']:
  park_df.loc[park_df.index == i, 'the_geom'] = zipcode[7:len(zipcode) - 1]
  i += 1

park_df.head(5)

                                the_geom gispropnum parkname      type
0    -73.8345470371915 40.64951548820048        NaN  GATEWAY  1/2-Mile
1   -73.83150930469213 40.64992288722615        NaN  GATEWAY  1/2-Mile
2  -73.83362089255507 40.649643900721536        NaN  GATEWAY  1/2-Mile
3   -73.83272434273998 40.64978363054011        NaN  GATEWAY  1/2-Mile
4  -73.83548803206288 40.649370165110476        NaN  GATEWAY  1/2-Mile

In [0]:
# extract zip codes
Zipcode = list()  # will be used as a new column
for code in park_df['the_geom']:
  longlat = code.split(' ')
  lattitude = float(longlat[1])
  longitude = float(longlat[0])
  result = search.by_coordinates(lattitude, longitude, radius=30, returns=5)
  Zipcode.append(str(result)[24:29])

In [6]:
# count the number of times a park appears
parks = dict()
for park in park_df['parkname']:
  if park in parks:
    parks[park] += 1
  else:
    parks[park] = 1

i = 0
for park in parks:
  print("Park: {}, appears: {} times".format(park, parks[park]))
  i += 1

print("\nNumber of unique parks is: {}".format(i))

Park: GATEWAY, appears: 6 times
Park: Silver Lake Park, appears: 11 times
Park: Snug Harbor Cultural Center, appears: 3 times
Park: Willowbrook Park, appears: 4 times
Park: LaTourette Park & Golf Course, appears: 4 times
Park: King Fisher Park, appears: 1 times
Park: Great Kills Park, appears: 6 times
Park: Ebs Pond Park, appears: 1 times
Park: Mt. Loretto, appears: 1 times
Park: Highland Park, appears: 13 times
Park: Blue Heron Park, appears: 3 times
Park: Seaton Falls Park, appears: 8 times
Park: Pelham Bay Park, appears: 4 times
Park: Prospect Park, appears: 14 times
Park: Bensonhurst Park, appears: 7 times
Park: Canarsie Park, appears: 4 times
Park: Juniper Valley Playground, appears: 17 times
Park: Miller Field, appears: 2 times
Park: Crescent Beach Park, appears: 2 times
Park: Tottenville Pool, appears: 1 times
Park: nan, appears: 5 times
Park: North Mount Loretto State Forest, appears: 2 times
Park: Forest Park, appears: 48 times
Park: Pugsley Creek Park, appears: 1 times
Park: Queensbridge Park, appears: 3 times
Park: Alley Park, appears: 1 times
Park: Central Park, appears: 58 times
Park: Sara D. Roosevelt Park, appears: 18 times
Park: Tremont Park, appears: 6 times
Park: Bronx Park, appears: 11 times
Park: Flushing Fields, appears: 4 times
Park: Union Square Park, appears: 3 times
Park: Frank Golden Park, appears: 2 times
Park: Frank Principe Park, appears: 5 times
Park: St. James Park, appears: 7 times
Park: St Mary's Playground, appears: 14 times
Park: Bryant Park, appears: 5 times
Park: Harris Park, appears: 6 times
Park: Rainey Park, appears: 3 times
Park: Francis Lewis Park, appears: 1 times
Park: Alley Pond Park, appears: 10 times
Park: Coffey Park, appears: 6 times
Park: Herbert Von King Park, appears: 5 times
Park: Red Hook Recreation Area, appears: 16 times
Park: Tompkins Square Park, appears: 8 times
Park: Flushing Meadows Corona Park, appears: 29 times
Park: Williamsbridge Oval, appears: 2 times
Park: Kissena Park, appears: 2 times
Park: Crotona Park, appears: 27 times
Park: Grand Army Plaza, appears: 4 times
Park: Thomas Greene Playground, appears: 6 times
Park: Steeplechase Park, appears: 1 times
Park: Abe Stark Skating Rink, appears: 1 times
Park: Betsy Head Park, appears: 4 times
Park: East River Park, appears: 13 times
Park: Dyker Beach Park, appears: 10 times
Park: Kissena Corridor Park, appears: 22 times
Park: Franklin D Roosevelt Boardwalk and Beach, appears: 14 times
Park: Washington Square Park, appears: 12 times
Park: Fort Greene Park, appears: 9 times
Park: Battery Park, appears: 6 times
Park: Dry Dock Playground, appears: 3 times
Park: John Jay Park, appears: 2 times
Park: Marcus Garvey Park, appears: 11 times
Park: Sound View Park, appears: 8 times
Park: Ferry Point Park, appears: 1 times
Park: Lincoln Terrace / Arthur S. Somers Park, appears: 8 times
Park: McCarren Park, appears: 14 times
Park: Alley Athletic Playground, appears: 2 times
Park: Macneil Park, appears: 3 times
Park: Cunningham Park, appears: 5 times
Park: Astoria Park, appears: 15 times
Park: Triborough Bridge Playground A, appears: 1 times
Park: Reed's Basket Willow Swamp Park, appears: 1 times
Park: Hamilton Fish Park, appears: 2 times
Park: City Hall Park, appears: 11 times
Park: Manhattan Beach Park, appears: 7 times
Park: Howard Playground, appears: 2 times
Park: Cadman Plaza Park, appears: 5 times
Park: Wagner Houses Pool, appears: 3 times
Park: College Point Park, appears: 2 times
Park: Commodore Barry Park, appears: 5 times
Park: Parade Ground, appears: 10 times
Park: Brooklyn Bridge Park, appears: 2 times
Park: Machate Circle, appears: 1 times
Park: Riverside Park, appears: 59 times
Park: Macombs Dam Park, appears: 11 times
Park: Owl's Head Park, appears: 5 times
Park: Springfield Park, appears: 9 times
Park: Highbridge Park, appears: 31 times
Park: St Nicholas Park, appears: 15 times
Park: Detective Keith L Williams Park, appears: 5 times
Park: Rufus King Park, appears: 2 times
Park: Sunset Park, appears: 8 times
Park: Raoul Wallenberg Forest, appears: 1 times
Park: Baisley Pond Park, appears: 23 times
Park: Shore Road Park and Parkway, appears: 13 times
Park: Inwood Hill Park, appears: 14 times
Park: Asser Levy Park, appears: 7 times
Park: Thomas Jefferson Park, appears: 5 times
Park: Coney Island Beach & Boardwalk, appears: 23 times
Park: Poseidon Playground, appears: 2 times
Park: St. Albans Park, appears: 4 times
Park: Fort Washington Park, appears: 12 times
Park: Leon S Kaiser Playground, appears: 5 times
Park: Nautilus Playground, appears: 3 times
Park: Roy Wilkins Recreation Center, appears: 1 times
Park: Brookville Park, appears: 14 times
Park: Fort Tryon Park, appears: 7 times
Park: Carl Schurz Park, appears: 3 times
Park: Clove Lakes Park, appears: 20 times
Park: Bloomingdale Park, appears: 6 times
Park: Friends Field, appears: 2 times
Park: Sherman Creek, appears: 3 times
Park: Harlem River Park, appears: 3 times
Park: Recreational Area, appears: 2 times
Park: Morningside Park, appears: 17 times
Park: Sheltering Arms Park, appears: 4 times
Park: CPL. Thompson Park, appears: 4 times
Park: Faber Park, appears: 2 times
Park: Father Macris Park, appears: 2 times
Park: Bushwick Playground, appears: 2 times
Park: Barretto Point Park, appears: 1 times
Park: Conference House Park, appears: 4 times

Number of unique parks is: 124

In [7]:
# Creating new column to reflect the zip code the lattitude and longitude correspond to
park_df['Zipcode'] = Zipcode
park_df.sample(10)

                                 the_geom gispropnum  ...      type Zipcode
767  -73.94507607184202 40.80508330025785       M058  ...  1/2-Mile   10026
790  -73.92585257694762 40.66818104800156       B054  ...  1/2-Mile   11212
490  -74.03051362651266 40.63968915050607       B066  ...  1/2-Mile   11220
403  -73.78281433531666 40.74377961566004      Q300A  ...  1/2-Mile   11365
992   -74.24452591261284 40.4990572482358       R006  ...  1/2-Mile   10307
621   -73.9735626848425 40.79786695363505       M071  ...  1/2-Mile   10025
316  -74.00456260892472 40.67366148457436       B126  ...  1/2-Mile   11231
957   -74.1353585885055 40.64033739407623       R008  ...  1/2-Mile   10310
159   -73.8994964011082 40.83513639912675       X010  ...  1/2-Mile   10459
121  -73.94516363533944 40.68922121240117       B088  ...  1/2-Mile   11216

[10 rows x 5 columns]

In [8]:
# checking how many park names to add
null_cols = park_df['parkname'].isnull()
null_parknames = park_df[park_df['parkname'].isnull()][null_cols]
name = null_parknames['the_geom']
print(name)

59     -74.23184858771734 40.514615964676366
65      -74.01786996470521 40.70789628320985
68     -73.94641081474278 40.753677032787174
391       -74.0176875920072 40.7077237221033
808     -73.92982721113754 40.84807555171158
Name: the_geom, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [0]:
# fixing null park names (most likely not necessary)
park_df.loc[park_df.index == 59, 'parkname'] = 'Long Pond Park'
park_df.loc[park_df.index == 65, 'parkname'] = 'Battery Park City Parks'
park_df.loc[park_df.index == 68, 'parkname'] = 'Queensbridge Park'
park_df.loc[park_df.index == 391, 'parkname'] = 'Battery Park City Parks'
park_df.loc[park_df.index == 808, 'parkname'] = 'Highbridge Park'

In [10]:
# get counts of unique zipcodes
unique_zipcodes = dict()
for zipcode in park_df['Zipcode']:
  if zipcode in unique_zipcodes:
    unique_zipcodes[zipcode] += 1
  else:
    unique_zipcodes[zipcode] = 1

for zipcode in unique_zipcodes:
  print("Zipcode: {}, Count: {}".format(zipcode, unique_zipcodes[zipcode]))

Zipcode: 11430, Count: 5
Zipcode: 11414, Count: 1
Zipcode: 10301, Count: 14
Zipcode: 10314, Count: 4
Zipcode: 10306, Count: 17
Zipcode: 10308, Count: 3
Zipcode: 10305, Count: 10
Zipcode: 10307, Count: 9
Zipcode: 11385, Count: 12
Zipcode: 10312, Count: 3
Zipcode: 10466, Count: 8
Zipcode: 10805, Count: 2
Zipcode: 11215, Count: 10
Zipcode: 11214, Count: 14
Zipcode: 11236, Count: 4
Zipcode: 10461, Count: 1
Zipcode: 11379, Count: 17
Zipcode: 11415, Count: 5
Zipcode: 10473, Count: 9
Zipcode: 10280, Count: 6
Zipcode: 11106, Count: 7
Zipcode: 11362, Count: 3
Zipcode: 10026, Count: 23
Zipcode: 10002, Count: 30
Zipcode: 10457, Count: 12
Zipcode: 10458, Count: 5
Zipcode: 11354, Count: 4
Zipcode: 10003, Count: 5
Zipcode: 11356, Count: 7
Zipcode: 10162, Count: 20
Zipcode: 11378, Count: 5
Zipcode: 10468, Count: 13
Zipcode: 10455, Count: 14
Zipcode: 10110, Count: 5
Zipcode: 11357, Count: 1
Zipcode: 11364, Count: 8
Zipcode: 11231, Count: 22
Zipcode: 11216, Count: 4
Zipcode: 11206, Count: 3
Zipcode: 10009, Count: 14
Zipcode: 11367, Count: 7
Zipcode: 10021, Count: 4
Zipcode: 10467, Count: 7
Zipcode: 10153, Count: 7
Zipcode: 11355, Count: 21
Zipcode: 10459, Count: 13
Zipcode: 10456, Count: 2
Zipcode: 10460, Count: 7
Zipcode: 11361, Count: 1
Zipcode: 11217, Count: 9
Zipcode: 11238, Count: 1
Zipcode: 11225, Count: 2
Zipcode: 11224, Count: 27
Zipcode: 11212, Count: 9
Zipcode: 11368, Count: 18
Zipcode: 10028, Count: 4
Zipcode: 10023, Count: 18
Zipcode: 10012, Count: 10
Zipcode: 11205, Count: 10
Zipcode: 11207, Count: 10
Zipcode: 11218, Count: 11
Zipcode: 10065, Count: 3
Zipcode: 10019, Count: 2
Zipcode: 10044, Count: 5
Zipcode: 10465, Count: 1
Zipcode: 11213, Count: 3
Zipcode: 11222, Count: 10
Zipcode: 11211, Count: 4
Zipcode: 11427, Count: 3
Zipcode: 11426, Count: 2
Zipcode: 11423, Count: 1
Zipcode: 11102, Count: 8
Zipcode: 11105, Count: 8
Zipcode: 11228, Count: 3
Zipcode: 11365, Count: 7
Zipcode: 10304, Count: 5
Zipcode: 10475, Count: 1
Zipcode: 10007, Count: 8
Zipcode: 10278, Count: 3
Zipcode: 11235, Count: 19
Zipcode: 11201, Count: 9
Zipcode: 10035, Count: 8
Zipcode: 10029, Count: 7
Zipcode: 10004, Count: 2
Zipcode: 11226, Count: 5
Zipcode: 10069, Count: 5
Zipcode: 10039, Count: 17
Zipcode: 11220, Count: 21
Zipcode: 11434, Count: 15
Zipcode: 11422, Count: 2
Zipcode: 10034, Count: 42
Zipcode: 10032, Count: 22
Zipcode: 10027, Count: 18
Zipcode: 11433, Count: 12
Zipcode: 11435, Count: 2
Zipcode: 11421, Count: 15
Zipcode: 11416, Count: 10
Zipcode: 10463, Count: 1
Zipcode: 11436, Count: 15
Zipcode: 11351, Count: 8
Zipcode: 10115, Count: 12
Zipcode: 10025, Count: 9
Zipcode: 11412, Count: 1
Zipcode: 11413, Count: 14
Zipcode: 11209, Count: 4
Zipcode: 10024, Count: 5
Zipcode: 10310, Count: 17
Zipcode: 10302, Count: 5
Zipcode: 10309, Count: 6
Zipcode: 10030, Count: 13
Zipcode: 11230, Count: 2
Zipcode: 10452, Count: 1
Zipcode: 10031, Count: 16
Zipcode: 11375, Count: 3
Zipcode: 10303, Count: 2
Zipcode: 10474, Count: 1

In [11]:
# create a new dataframe showing the number of parks at each zipcode
parks_df = pd.DataFrame.from_dict(unique_zipcodes, orient='index', columns=['NumParks'])
parks_df.sample(5)

       NumParks
10475         1
11367         7
11423         1
10456         2
11365         7

In [12]:
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

In [0]:
# Export data
parks_df.to_csv('parks_df.csv', header=True)
!cp parks_df.csv drive/My\ Drive/ #saving to drive