In [0]:
import pandas as pd
import requests
import numpy as np

%matplotlib inline

In [0]:
df = pd.read_csv('https://grantmlong.com/data/DOHMH_New_York_City_Restaurant_Inspection_Results_20190914.csv')

In [3]:
list(df)

['CAMIS',
 'DBA',
 'BORO',
 'BUILDING',
 'STREET',
 'ZIPCODE',
 'PHONE',
 'CUISINE DESCRIPTION',
 'INSPECTION DATE',
 'ACTION',
 'VIOLATION CODE',
 'VIOLATION DESCRIPTION',
 'CRITICAL FLAG',
 'SCORE',
 'GRADE',
 'GRADE DATE',
 'RECORD DATE',
 'INSPECTION TYPE',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA']

In [4]:
df.drop(columns = ['CAMIS', 'PHONE', 'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE', 'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Community Board', 'Council District', 'Census Tract'])

                                                      DBA  ...   NTA
0                                                  SUBWAY  ...  MN17
1                                           BUTCHER'S CUT  ...  QN51
2                                       LA TRAVIATA PIZZA  ...  MN14
3                                              TGI FRIDAY  ...  BK17
4                                              BLUE SMOKE  ...  MN25
...                                                   ...  ...   ...
390651                                 SWEET DREAM BAKERY  ...  BK34
390652                                 BRANDY'S PIANO BAR  ...  MN32
390653                                             BAKERI  ...  BK73
390654                                   EAST NEW SING BO  ...  SI07
390655  BARCLAYS LOWER SUITES TANDUAY BAR SOUTH CLUB L...  ...  BK37

[390656 rows x 10 columns]

In [0]:
# drop nan zipcode values from the dataset
df = df.dropna(subset=['ZIPCODE'])
#df.astype({'ZIPCODE': 'int64'}).dtypes
df['ZIPCODE'] = df['ZIPCODE'].astype(np.int64)
zipcount = dict()

# get the count for the number of times each zipcode appears
for zipcode in df.ZIPCODE:
  if zipcode in zipcount:
    zipcount[zipcode] += 1
  else:
    zipcount[zipcode] = 1

#  nicely print the results
#  for zipcode in zipcount:
#    print("Zipcode: {0}   Count: {1}".format(zipcode, zipcount[zipcode]))

In [0]:
 zip_df = pd.DataFrame.from_dict(zipcount, orient='index', columns=['Count'])

In [7]:
zip_df.head(5)

       Count
10103     62
11354   6689
10023   2458
11235   2569
10282    208

In [0]:
from google.colab import drive

In [9]:
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

In [0]:
zip_df.to_csv('zip_df.csv', header=True)
!cp zip_df.csv drive/My\ Drive/ #saving to drive