In [0]:
import pandas as pd
import requests

%matplotlib inline

In [0]:
df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test2.csv', index_col=0)

In [17]:
df.shape

(2000, 38)

In [18]:
df.sample(5)

          addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7485466         #4D        83968         1  ...    4D          4.0    D
7475419          #2       243427         2  ...     2          2.0  NaN
7503373         #2L       384664         1  ...    2L          2.0    L
7454722         #9B       404107         1  ...    9B          9.0    B
7439632         #5A     18191641         2  ...    5A          5.0    A

[5 rows x 38 columns]

Columns in the data frame

In [19]:
df.columns

Index(['addr_unit', 'building_id', 'bedrooms', 'bathrooms', 'size_sqft',
       'created_at', 'addr_street', 'addr_city', 'addr_zip', 'addr_lat',
       'addr_lon', 'bin', 'bbl', 'floor_count', 'year_built', 'min_to_subway',
       'has_doorman', 'has_elevator', 'has_fireplace', 'has_dishwasher',
       'is_furnished', 'has_gym', 'allows_pets', 'has_washer_dryer',
       'has_garage', 'has_roofdeck', 'has_concierge', 'has_pool', 'has_garden',
       'has_childrens_playroom', 'rent', 'no_fee', 'description',
       'neighborhood', 'borough', 'unit', 'floornumber', 'line'],
      dtype='object')

In [20]:
df.describe

<bound method NDFrame.describe of           addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7428577         #4F       159457         0  ...    4F          4.0    F
7454944         NaN      1579540         2  ...   NaN          NaN  NaN
7473595         #1D        64873         1  ...    1D          1.0    D
7490488         #5C       546541         2  ...    5C          5.0    C
7460896        #11G        10678         1  ...   11G         11.0    G
...             ...          ...       ...  ...   ...          ...  ...
7451410          #4        86068         0  ...     4          4.0  NaN
7493779         #3A        13252         1  ...    3A          3.0    A
7474525          #8       223054         1  ...     8          NaN  NaN
7507738         #7D       320623         1  ...    7D          NaN  NaN
7443274          #5      1242151         1  ...     5          5.0  NaN

[2000 rows x 38 columns]>

Missing data

In [21]:
# to see all null values in order to see what we need to clean
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

addr_unit          29
year_built         82
min_to_subway      16
rent             2000
neighborhood        1
unit               29
floornumber       263
line              612
dtype: int64

Substituting NULLs

In [0]:
yb_mean = df['year_built'].mean()
df['year_built'].fillna(yb_mean, inplace=True)

In [24]:
#making a table only with the observations that are missing min_to_subway
null_cols = df['min_to_subway'].isnull()
null_min_to_subway = df[df["min_to_subway"].isnull()][null_cols]
print(null_min_to_subway)

addresses = null_min_to_subway['addr_street'] # null_min_to_subway['addr_zip']
print(addresses)

          addr_unit  building_id  bedrooms  ...  unit  floornumber line
rental_id                                   ...
7496308         #1H     18742198         4  ...    1H          1.0    H
7503712         #1C     18742195         4  ...    1C          1.0    C
7510942        #801      4141429         0  ...   801          8.0   01
7488766         #3E     18771601         1  ...    3E          3.0    E
7456630         #2C     18742201         4  ...    2C          2.0    C
7508698        #11C     18771595         1  ...   11C         11.0    C
7459477         #6A     18771709         2  ...    6A          6.0    A
7442641       #APT1     18741022         1  ...  APT1          1.0  APT
7482751         #3D     18771274         2  ...    3D          3.0    D
7442653       #APT1     18741019         1  ...  APT1          1.0  APT
7489969          #B     18772159         4  ...     B          NaN  NaN
7449538          #2     18733351         2  ...     2          2.0  NaN
7495012         #2F     18758467         2  ...    2F          2.0    F
7504726        #5BB     18758467         1  ...   5BB          5.0   BB
7516396         #8O     18733615         1  ...    8O          8.0    O
7447246         #3F     18771178         2  ...    3F          3.0    F

[16 rows x 38 columns]
rental_id
7496308      7 LEXINGTON AVENUE
7503712     7A LEXINGTON AVENUE
7510942        153-30 89 AVENUE
7488766      3440 GUIDER AVENUE
7456630      5 LEXINGTON AVENUE
7508698        131-05 40TH ROAD
7459477     241 ATLANTIC AVENUE
7442641        133 ELSON STREET
7482751      509 PACIFIC STREET
7442653        131 ELSON STREET
7489969     1014 DECATUR STREET
7449538    456 EAST 29TH STREET
7495012         60 BERRY STREET
7504726         60 BERRY STREET
7516396            515 9 AVENUE
7447246    72 WILLOUGHBY STREET
Name: addr_street, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [0]:
# replacing missing data for min to subway
df.loc[df.index == 7447246, 'min_to_subway'] = '1'
df.loc[df.index == 7516396, 'min_to_subway'] = '11'
df.loc[df.index == 7504726, 'min_to_subway'] = '5'
df.loc[df.index == 7495012, 'min_to_subway'] = '5'
df.loc[df.index == 7449538, 'min_to_subway'] = '2'
df.loc[df.index == 7489969, 'min_to_subway'] = '4'
df.loc[df.index == 7482751, 'min_to_subway'] = '3'
df.loc[df.index == 7496308, 'min_to_subway'] = '6'
df.loc[df.index == 7503712, 'min_to_subway'] = '6'
df.loc[df.index == 7510942, 'min_to_subway'] = '4'
df.loc[df.index == 7488766, 'min_to_subway'] = '6'
df.loc[df.index == 7456630, 'min_to_subway'] = '6'
df.loc[df.index == 7508698, 'min_to_subway'] = '8'
df.loc[df.index == 7459477, 'min_to_subway'] = '5'
df.loc[df.index == 7442653, 'min_to_subway'] = '104'
df.loc[df.index == 7442641, 'min_to_subway'] = '104'
#correcting outliers
df.loc[df.index == 7485220, 'min_to_subway'] = '2'
df.loc[df.index == 7473829, 'min_to_subway'] = '2'

In [0]:
df['min_to_subway'] = pd.to_numeric(df['min_to_subway'])

**Training**

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from google.colab import drive

%matplotlib inline

In [28]:
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [0]:
train_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_train.csv', index_col=0)
test_df = pd.read_csv('https://grantmlong.com/data/SE_rents2018_test1.csv', index_col=0)

In [30]:
train_df.sample(5).transpose()

rental_id                                                         7220860  ...                                            7136911
addr_unit                                                           #1405  ...                                                #4B
building_id                                                         40825  ...                                              11893
bedrooms                                                                1  ...                                                  0
bathrooms                                                               1  ...                                                  1
size_sqft                                                             694  ...                                                  0
created_at                                            2018-05-30 16:17:54  ...                                2018-05-02 09:38:24
addr_street                                             37 WEST 21 STREET  ...                                 621 EAST 11 STREET
addr_city                                                        New York  ...                                           New York
addr_zip                                                            10010  ...                                              10009
addr_lat                                                          40.7413  ...                                            40.7272
addr_lon                                                         -73.9923  ...                                           -73.9783
bin                                                           1.08871e+06  ...                                        1.00492e+06
bbl                                                            1008230017  ...                                         1003940058
floor_count                                                            15  ...                                                  5
year_built                                                           2007  ...                                               1900
min_to_subway                                                      1.4833  ...                                                5.9
has_doorman                                                             1  ...                                                  0
has_elevator                                                            1  ...                                                  0
has_fireplace                                                           0  ...                                                  0
has_dishwasher                                                          1  ...                                                  0
is_furnished                                                            0  ...                                                  0
has_gym                                                                 1  ...                                                  0
allows_pets                                                             1  ...                                                  1
has_washer_dryer                                                        1  ...                                                  0
has_garage                                                              0  ...                                                  0
has_roofdeck                                                            0  ...                                                  1
has_concierge                                                           1  ...                                                  0
has_pool                                                                0  ...                                                  0
has_garden                                                              0  ...                                                  0
has_childrens_playroom                                                  0  ...                                                  0
rent                                                                 5150  ...                                               1995
no_fee                                                                  1  ...                                                  0
description             South Facing, Large Living Room, open Kitchen,...  ...  This one of a kind, studio apartment is locate...
neighborhood                                                     Flatiron  ...                                       East Village
borough                                                         Manhattan  ...                                          Manhattan
unit                                                                 1405  ...                                                 4B
floornumber                                                            14  ...                                                  4
line                                                                   05  ...                                                  B

[38 rows x 5 columns]

In [0]:
# extract usable features
feature_cols = [
    'bedrooms', 'bathrooms', 'min_to_subway', 
    'size_sqft'
]
train_features = train_df[feature_cols] 

# impute missing values with medians
train_features = train_features.fillna(train_features.median(), axis=0)

# construct target vector
train_target = train_df['rent']

In [32]:
lreg = LinearRegression()
lreg.fit(train_features, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
test_features = test_df[feature_cols] 

# impute missing values with medians
test_features = test_features.fillna(train_features.median(), axis=0)

# construct predictions 
test_df['predicted'] = lreg.predict(test_features)

mean_squared_error(test_df['rent'], test_df['predicted'])

4196041.334070839

In [34]:
master_df = train_df.append(test_df, sort=False)

master_features = master_df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
master_target = master_df['rent']

lreg.fit(master_features, master_target) # master_features = training data, master_target = target data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
submit1_features = df[feature_cols].fillna(master_df[feature_cols].median(), axis=0)
df['predictions'] = lreg.predict(submit1_features)
df['predictions'].to_csv('submission1.csv', header=True)
!cp submission1.csv drive/My\ Drive/ #saving to drive
df['rents'] = np.ones(df['predictions'].shape) * master_target.median()
mean_squared_error(df['predictions'], df['rents'])

4191323.076233124